<div style="margin-top: 45px;">
  <div align="center">
     <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet"> 
	  <footer class="footer" style="font-family: 'Roboto'; color: lightgray; font-weight: bold;">
        Bu Müzik Sistemi CodAre sunucusundan 『ƈα ~ HaNıM ☠KeLeŞi☠ GeTiR 』#0001 isimli ve "326692518118948865" id'li kullanıcı tarafından yapılmıştır. İzinsiz paylaşmak yasaktır.
	  </footer>
  </div>
</div>